@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/
body {
  padding-top: 72px;
  scroll-behavior: smooth;
  --key-color: #8e44ad;
  --sub-color: #7e349d;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

/*-------------------------
  トップ
-------------------------*/
.topics p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-align: justify;
}

.btn-primary {
  background-color: var(--key-color);
  border: 1px solid var(--key-color);
}

.btn-primary:hover {
  background-color: var(--sub-color);
  border: 1px solid var(--sub-color);
}

footer a {
  color: #8e44ad;
}

footer a:hover {
  color: #7e349d;
}

.topics .col-lg-4 {
  /* メニューで隠れないようにスクロール時の位置を変更 */
  scroll-margin-top: 50vw;
}
